body,
* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.login-page {
    height: 100vh;
    background-color: #000;
    display: flex;
    justify-content: center;

    .login {
        width: 50%;
        background: rgb(0, 41, 45);
        background: linear-gradient(135deg, rgba(0, 41, 45, 1) 50%, rgba(1, 33, 46, 1) 50%);
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;

        .text {
            h1 {
                color: #fff;
                font-size: 35px;
                font-weight: 800;
                text-align: center;
                margin-bottom: 40px;
            }
            input {
                width: 100%;
                background-color: #475F69;
                border: none;
                border-radius: 50px;
                padding: 15px 70px;
                position: relative;

                &::placeholder {
                    color: rgb(0, 41, 45);
                    font-weight: 500;
                }
            }
            .user {
                margin-bottom: 35px;

                img {
                    width: 70px;
                    height: 70px;
                    padding: 15px;
                    background-color: #fff;
                    border-radius: 50%;
                    object-fit: contain;
                    position: absolute;
                    z-index: 1;
                    translate: -5px -10px;

                }

                input {
                    padding-left: 75px;
                }
            }
            .password {
                margin-bottom: 35px;

                button {
                    width: 70px;
                    height: 70px;
                    padding: 15px;
                    background-color: #fff;
                    border: none;
                    border-radius: 50%;
                    position: absolute;
                    translate: -60px -10px;
                    img {
                        width: 100%;
                        height: 100%;
                    }
                }

                input {
                    padding-left: 20px;
                }
            }
            .submit {
                background-color: #fff;
                color: rgb(0, 41, 45);
                font-size: 25px;
                font-weight: 800;
                width: 100%;
                padding: 10px 0;
                margin-top: 40px;
                border: none;
                border-radius: 50px;
            }
            .alert{
                width: 100%;
                height: 82px;
                background-color: #fff;
                border-radius: 15px;
                padding: 0;
                display: flex;
                position: relative;
                &::before{
                    content: '';
                    width: 12px;
                    height: 102%;
                    position: absolute;
                    left: -.9px;
                    border-top-left-radius: 55px;
                    border-bottom-left-radius: 55px;
                }
                .icon{
                    width: 20%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 20px;
                    i{
                        padding-left: 10px;
                        font-size: 35px;
                        font-weight: 0;
                    }
                }
                .content{
                    display: flex;
                    padding-top: 10px;
                    flex-direction: column;
                    h3{
                        margin: 0;
                    }
                    p{
                        color: #BDC3CA;
                        font-size: smaller;
                        font-weight: 500;
                        margin: 0;
                    }
                }
                button{
                    width: 20%;
                    height: auto;
                    background-color: #fff;
                    border: none;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: #475F69;
                }
            }
            #alert-success{
                display: none;
                i{
                    color: #4AC95F;
                }
                &::before{
                    background-color: #4AC95F;
                }
            }
            #alert-warning{
                display: none;
                i{
                    color: #FC5B5B;
                }
                &::before{
                    background-color: #FC5B5B;
                }
            }
            #alert-fill{
                display: flex;
                justify-content: center;
                align-items: center;
                display: none;
                &::before{
                    background-color: #F2D36A;
                }
                h5{
                    margin-left: 30px;
                }
            }
        }
    }
}