.screen{
    display: inline-block;
    width: 500px;
    margin-top: 130px;
    margin-left: 30%;
}
.sol{
    display: inline-block;
    text-align: center;
    font-size: x-large;
    width: 320px;
}
.sol header{
    background-color: #FBB03B;
    width: 320px;
    height: 30px;
    color: white
}
.sol .sira2 .box2{
    display: inline-block;
    background-color: #f3c086;
    width: 210px;
    height: 170px;
    margin-top: 10px;
    color: white;
}
.sol .sira2 .box2 p{
    padding-top: 40px;
}
.sol .sira2 .box3{
    background-color: #F7931E;
    width: 100px;
    height: 170px;
    color: white;
    float: right;
    margin-top: 10px;
    margin-left: 10px;
}
.sol .sira2 .box3 p{
    padding-top: 40px;
}
.sol .sira3 .box4{
    display: inline-block;
    background-color: #29ABE2;
    width: 100px;
    height: 100px;
    color: white;
    margin-top: 10px;
}
.sol .sira3 .box4 p{
    margin-top: 10px;
    padding-top: 30px;
}
.sol .sira3 .box5{
    display: inline-block;
    background-color: #29ABE2;
    width: 100px;
    height: 100px;
    color: white;
    margin-top: 10px;
    float: right;
    margin-left: 10px;
}
.sol .sira3 .box5 p{
    margin-top: 10px;
    padding-top: 30px;
}
.sol .sira3 .box6{
    display: inline-block;
    background-color: #29ABE2;
    width: 100px;
    height: 100px;
    color: white;
    margin-top: 10px;
    float: right;
    margin-left: 10px;
}
.sol .sira3 .box6 p{
    margin-top: 10px;
    padding-top: 30px;
}
.sol footer{
    background-color: #B3B3B3;
    width: 320px;
    height: 40px;
    color: white 
}
.sol footer p{
    margin-top: 10px;
    padding-top: 5px;
}
.sag{
    display: inline-block;
    text-align: center;
    font-size: x-large;
    width: 160px;
    height: 370px;
    float: right;
}
.sag .sira1{
    background-color: #FBB03B;
    width: 160px;
    height: 30px;
    color: white;
    margin-top: 0%;
}
.sag .sira2{
    background-color: #f3c086;
    color: white;
    width: 160px;
    margin-top: 10px;
    height: 112px;
}
.sag .sira2 p{
    margin-top: 10px;
    padding-top: 40px;
}
.sag .sira3{
    background-color: #29ABE2;
    color: white;
    width: 160px;
    margin-top: 10px;
    height: 50px;
}
.sag .sira3 p{
    margin-top: 10px;
    padding-top: 10px;
}
.sag .sira4{
    background-color: #29ABE2;
    color: white;
    width: 160px;
    margin-top: 10px;
    height: 50px;
}
.sag .sira4 p{
    margin-top: 10px;
    padding-top: 10px;
}
.sag .sira5{
    background-color: #29ABE2;
    color: white;
    width: 160px;
    margin-top: 10px;
    height: 50px;
}
.sag .sira5 p{
    margin-top: 10px;
    padding-top: 10px;
}
.sag footer{
    background-color: #B3B3B3;
    color: white;
}
.sag footer p{
    margin: 10px;
}