.custom-phone-input input {
    color: white !important;
    background: transparent;
    border: 1px solid white;
}

.custom-phone-input .react-phone-number-input__country {
    color: black !important;
}

.custom-phone-input .react-phone-number-input__icon {
    filter: none !important;
}