.container{
    margin-top: 50px;
    img{
        height: 200px;
        object-fit: cover;
    }
    .btn{
        background-color: #000;
        border: 1px solid #000;
        transition: all .3s ease;
        &:hover{
            background-color: #fff;
            color: #000;
        }
    }
}
h1{
    text-align: center;
    padding-top: 20px;
    font-weight: 700;
}

.sct{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    #btn{
        background-color: #000;
        color: #fff;
        border: 0;
        border-radius: 8px;
        padding: 5px 10px;
        margin-right: 10px;
        transition: all .3s ease;
        &:hover{
            background-color: #fff;
            color: #000;
        }
    }
}