body{
    background-color: #5D9D9F;
    margin: 0;
}
.child{
    width: 60%;
    height: 630px;
    background-color: #FC7F51;
    text-align: center;
    margin-left: 20%;
    padding: 0;
}
.child .blue-box{
    display: inline-block;
    background-color: #2F00FC;
    color: white;
    width: 95%;
    height: 60px;
    margin-top: 10px;
}
h1{
    margin: 10px;
}
.green-box{
    display: inline-block;
    background-color: #016300;
    width: 95%;
    height: 40px;
    margin-top: 10px;
}
.white-frame{
    display: inline-block;
    width: 95%;
    height: 45%;
    background-color: white;
    margin-top: 10px;
}
.white-frame .purple-box{
    background-color: #8D82EB;
    width: 63%;
    height: 93%;
    float: left;
    margin-left: 10px;
    margin-top: 10px;
}
.white-frame .yellow-box{
    display: inline-block;
    background-color: #FEFF01;
    width: 31%;
    height: 93%;
    margin-left: 10px;
    margin-top: 10px;
}
.white-box{
    background-color: white;
    width: 180px;
    height: 29%;
    margin: auto;
    margin-top: 10px;
    margin-left:20px;
    float: left;
}