html{
    background-color: #EAEDD5;
}
body{
    margin-left: 200px;
    font-size: 18px;
}
header nav ul{
    background-color: #BB0000;
    width: 75%;
}
header nav ul li{
    display: inline-block;
    margin-left: 50px;
    margin-right: 80px;
}
header nav ul li a{
    color: white;
    text-decoration: none;
    font-size: x-large;
    font-weight: bolder;
}
img{
    margin: 5px 15px 20px 0;
    float: left;
}
.free{
    clear: left;
}
span{
    color: #BB0000;
}
p{
    margin-top: 20px;
    width: 80%;
}
.free a{
    color: #BB0000;
    text-decoration: none;
}
hr{
    margin: 8px 0;
    width: 80%
}