body, *{
    margin: 0;
    box-sizing: border-box;
}
.space{
    width: 100%;
    padding: 40px;
    background-color: #281E32;
    display: flex;
    justify-content: center;
    align-items: center;
    .ring{
        border: 1px solid white;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        .sun{
            width: 90px;
            height: 90px;
            background-image: url('../img/sun.png');
            background-size: cover;
        }
    }
}
.mercury{
    width: 60px;
    height: 60px;
    background-image: url(../img/mercury.png);
    background-size: cover;
    position: relative;
    translate: 15px 15px;
    animation: mercury 3s infinite linear;
}
.venera{
    width: 40px;
    height: 40px;
    background-image: url(../img/venera.png);
    background-size: cover;
    position: relative;
    translate: 25px -35px;
    animation: venera 6s infinite linear;
}
.earth{
    width: 80px;
    height: 80px;
    background-image: url(../img/earth.png);
    background-size: cover;
    position: relative;
    translate: 5px -95px;
    animation: earth 9s infinite linear;
}
.mars{
    width: 60px;
    height: 60px;
    background-image: url(../img/mars.png);
    background-size: cover;
    position: relative;
    translate: 15px -165px;
    animation: mars 12s infinite linear;
}
.jupiter{
    width: 90px;
    height: 90px;
    background-image: url(../img/jupiter1.png);
    background-size: cover;
    position: relative;
    translate: 2px -240px;
    animation: jupiter 15s infinite linear;
}
.saturn{
    width: 90px;
    height: 90px;
    background-image: url(../img/saturn1.png);
    background-size: cover;
    position: relative;
    translate: 0 -330px;
    animation: saturn 18s infinite linear;
}
.uranus{
    width: 100px;
    height: 100px;
    background-image: url(../img/uranus.png);
    background-size: cover;
    translate: -5px -425px;
    animation: uranus 21s infinite linear;
}
.neptun{
    width: 50px;
    height: 50px;
    background-image: url(../img/neptun.png);
    background-size: cover;
    translate: 20px -500px;
    animation: neptun 24s infinite linear;
}
@keyframes mercury{
    0%{
        transform: rotate(0deg) translate(55px) rotate(360deg);
    }
    100%{
        transform: rotate(360deg) translate(55px) rotate(-360deg);
    }
}
@keyframes venera{
    0%{
        transform: rotate(0deg) translate( 110px) rotate(360deg);  
    }
    30%{
        transform: rotate(120deg) translate( 100px) rotate(120deg);
    }
    100%{
        transform: rotate(360deg) translate(100px) rotate(-360deg);
    }
}
@keyframes earth{
    0%{
        transform: rotate(0deg) translate( 150px) rotate(360deg);
    }
    100%{
        transform: rotate(360deg) translate(150px) rotate(-360deg);
    }
}
@keyframes mars{
    0%{
        transform: rotate(0deg) translate( 200px) rotate(360deg);
    }
    100%{
        transform: rotate(360deg) translate(200px) rotate(-360deg);
    }
}
@keyframes jupiter{
    0%{
        transform: rotate(0deg) translate( 250px) rotate(360deg);
    }
    100%{
        transform: rotate(360deg) translate(250px) rotate(-360deg);
    }
}
@keyframes saturn{
    0%{
        transform: rotate(0deg) translate( 290px) rotate(360deg);
    }
    100%{
        transform: rotate(360deg) translate(290px) rotate(-360deg);
    }
}
@keyframes uranus{
    0%{
        transform: rotate(0deg) translate( 345px) rotate(360deg);
    }
    100%{
        transform: rotate(360deg) translate(345px) rotate(-360deg);
    }
}
@keyframes neptun{
    0%{
        transform: rotate(0deg) translate( 400px) rotate(360deg);
    }
    100%{
        transform: rotate(360deg) translate(400px) rotate(-360deg);
    }
}