body,
* {
    margin: 0;
    box-sizing: border-box;
}

header {
    .top-page {
        width: 100%;
        height: auto;
        background-image: linear-gradient(rgba(151, 135, 118, 0.4),
                rgba(151, 135, 118, 0.4)), url(../../img/arusa.png);
        background-size: cover;
        filter: contrast(1.6);
        color: white;

        .top {
            width: 100%;
            height: 60px;
            padding: 20px;
            display: flex;
            justify-content: space-between;

            a {
                text-decoration: none;
                color: white;

                span {
                    background-color: black;
                    clip-path: circle();
                    padding: 7px;
                }
            }
        }

        .first-page {
            width: 100%;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            position: relative;

            p {
                font-size: 80px;
            }

            button {
                width: 137px;
                background-color: white;
                border: none;
                border-radius: 8px;
                padding: 8px;
                margin-top: 20px;
            }
        }
    }
}

main {
    .second-page {
        width: 100%;
        height: 200vh;
        position: relative;

        img {
            object-fit: contain;
        }

        #top1 {
            position: absolute;
            top: 10px;
            left: 537px;
        }

        #row2-l {
            position: absolute;
            top: 180px;
            left: 38px;
        }

        #row2-r {
            position: absolute;
            top: 230px;
            right: 0;
        }

        #row3-l {
            position: absolute;
            top: 400px;
            left: 0;
        }

        #row3-r {
            position: absolute;
            top: 470px;
            right: 0;
        }

        #row4 {
            position: absolute;
            top: 700px;
            left: 770px;
        }

        span {
            text-align: center;
            position: absolute;
            top: 360px;
            left: 490px;

            h1 {
                font-size: 50px;
                font-weight: 100;
            }

            p {
                font-size: 15px;
                margin: 20px 0;
            }

            button {
                width: 178px;
                background-color: white;
                border: 1px solid #DFDEDB;
                border-radius: 8px;
                padding: 8px;
            }
        }
    }

    .title {
        text-align: center;
        font-size: 30px;
        padding: 15px 0;
    }

    .feature-products {
        margin-bottom: 30px;

        .box {
            width: 300px;
            height: auto;

            img {
                width: 100%;
                height: 331px;
                object-fit: contain;
            }

            .text {
                display: flex;
                justify-content: space-between;
            }
        }
    }

    .native-light-chair {
        width: 99%;

        .navy-text {
            width: 100%;
            height: 100%;
            background-color: #384353;
            color: white;
            padding: 100px;

            h3 {
                font-size: 30px;
                font-weight: 100;
            }

            p {
                width: 405px;
                font-size: smaller;
                color: #cfcecc;
                margin-top: 30px;
                ;
            }
        }
    }

    .furnitures {
        height: 1080px;
        background-image: url(../../img/chair-bg.png);
        background-size: cover;
        position: relative;

        .photo-frame {
            width: 291px;
            height: 365px;
            background-color: white;
            padding: 20px;

            img {
                width: 251px;
                height: 300px;
                object-fit: cover;
            }

            .text {
                display: flex;
                justify-content: space-between;
                padding-top: 10px;
            }
        }

        #chair {
            position: absolute;
            top: 90px;
            left: 106px;
        }

        #bedside-table {
            position: absolute;
            top: 480px;
            right: 80px;
        }
    }

    .navy-table {
        table {
            width: 100%;

            .lookbook-text {
                text-align: center;

                h1 {
                    translate: 0 -100px;
                }
            }

            .pic {
                width: 100%;
                height: 500px;
                background-color: #cfcecc;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;

                .text {
                    width: 93%;
                }
            }
        }

        .text {
            display: flex;
            justify-content: space-between;
        }
    }

    .furniture-products {
        background-color: #384353;
        padding-bottom: 60px;

        .box {
            margin: 10px 0;
            color: white;

            img {
                width: 310px;
                height: 310px;
            }
        }
    }

    .every-detail-matter {
        border-bottom: 1px solid #DFDEDB;
        .space{
            width: 3%;
            height: auto;
        }
        .box {
            width: 97%;
            height: 440px;
            border-left: 1px solid #DFDEDB;
            text-align: center;
            padding: 100px 0;

            h1 {
                font-size: 72px;
                font-weight: 400;
                padding-bottom: 20px;
            }

            span {
                font-size: 12px;
            }

            p {
                font-size: 15px;
                padding-top: 30px;
            }
        }
    }

    .detail-photoes{
        .space{
            border-bottom: 1px solid #DFDEDB;
            width: 700px;
            height: 40.5px;
            transform: rotate(270deg);
            translate: -329px 320px;
            padding-left: 10px;
            padding-top: 10px;
        }
        .three-photos{
            .big-img{
                width: 100%;
                height: auto;
                border-right: 1px solid #DFDEDB;
            }
        }
    }

    .simple {
        height: 120vh;
        background-image: url('https://s3-alpha-sig.figma.com/img/aab2/701b/f90c77713be47342ac7708d90bbc63dd?Expires=1722816000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=KWRTBQsWQ9Zt3n3FJ-SPpUXlnZK8hGXzlBSSjAAXgg8IM0eWADK~SpRvYYxcoPxJFbKwISTr7AOmRSGrPhLnLaA3eVgUyd2cVv2IX95EDrhI5G4XeVxV3GxueXiGh0k9Cu2ZP46FDxSzmbtw0opRgkGUuoefA62PMeLhlaoIN5PcjR2GqalYrp~mSLNWJUbjnyMrYpvvXCFJq3wpZfq8HSxyBifUZxSO0n~GA~ozY8~Rm8qkT3FfKUg-EZp7Y8R1xIZKOaKKLj08arvOj5qatmmPh4nv7bo9Zr1NVqip-WIB9CZS13Q-TyiEwUncmCro2POeEBgb~gd54Azr-XQ4Xg__');
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .articles {
        height: auto;
        display: flex;
        position: relative;
        .readers {
            transform: rotate(270deg);
            position: absolute;
            bottom: 100px;
        }
        .main-box {
            border-left: 1px solid #DFDEDB;
            .content {
                width: 100%;
                height: auto;
                padding: 100px 50px;
                h1 {
                    font-size: 56px;
                    font-weight: 400;
                }
    
                p {
                    font-size: 20px;
                    padding: 50px 0;
                    font-weight: 400;
                }
    
                span {
                    font-size: 12px;
                }
            }
            .picture {
                width: 100%;
                padding: 40px 10px;
                img {
                    width: 100%;
                    height: 560px;
                }
            }
        }
    }

    .product-cards {
        padding-top: 20px;

        .card {
            padding: 10px;
            border: 1px solid #DFDEDB;

            img {
                object-fit: contain;
            }

            h2 {
                font-size: 20px;
                font-weight: 400;
                padding-top: 10px;
            }

            p {
                font-size: 14px;
                padding: 20px 0;
            }
        }
    }

    .simple2 {
        padding-top: 70px;
        height: 120vh;

        .screen {
            width: 100%;
            height: 90vh;
            background-image: url('https://s3-alpha-sig.figma.com/img/bfe3/44aa/782e0b0fb8d5b5e644a83d6f8bef0692?Expires=1722816000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=GvxrlyBdQ8EdDCL8JHFd7SjuKfWplDZmYiu0eff8P0HCcxG1Mm9sTD3Slu8hfMtxu8EEYY9W6GXI0uZKQnghR6Pk2I5kKTDF5JMF9sroLIuVbF4ymKqHDWrZYPc39hASJRE4YyetOT8zZHXnoK7Yjravogm8MLAsJaj~9LVq40BS7X1TjqLOzqegKyyTKvA0TWR1fv94L07~xTOOcpsUQG9fWQ3m3m5a05rq75xrBHMT5P1h9GbNKxkdffdvFmIYHeUsLEGP-9mqyvCEp0y0I3M5T3nICUt4rZcGUSHuI-7IFPvok~bNDtuJ9vLXhqKUe81toDAGgt99QkX31RMzUg__');
            background-size: cover;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            h1 {
                color: white;
                font-size: 72px;
                font-weight: 400;
                padding-bottom: 50px;
            }

            input {
                background: none;
                border: 1px solid white;
                border-radius: 8px;
                width: 300px;
                padding: 10px;
            }
        }
    }
}

footer {
    width: 100%;
    background-color: #384353;
    color: #F5F4F3;

    .info {
        width: 100%;

        .information {
            width: 100%;
            border: 1px solid white;
            padding: 30px 0 30px 50px;

            ul {
                padding: 10px 0;
                color: #cfcecc;

                li {
                    padding-top: 10px;
                }
            }
        }
    }

    .logo {
        padding: 80px 50px;
        border-top: 1px solid white;
        border-bottom: 1 px solid white;

        img {
            width: 100%;
        }
    }

    .location {
        font-size: 12px;
        font-weight: 400;
        border-top: 1px solid white;
        padding: 20px;
        text-align: center;
    }
}

@media (max-width: 800px) {
    .second-page {
        img {
            display: none;
        }

        span {
            translate: -200px;
        }
    }

    .feature-products {
        #pad-card {
            padding-left: 30px;
        }
    }
}