body,
* {
    margin: 0;
    box-sizing: border-box;
    font-family: "DM Sans", sans-serif;
}

header {
    .top-header {
        background-color: #2B1E16;
        padding: 20px;
        display: flex;
        justify-content: space-between;

        .right-top-header {
            a {
                color: #9a8b82;
                text-decoration: none;
                padding-right: 10px;

                i {
                    color: #c7844f;
                    padding-right: 10px;
                }
            }
        }

        .icons {
            color: #9a8b82;
            display: flex;
            justify-content: space-between;
            padding-right: 10px;

            i {
                padding-left: 10px;
            }
        }
    }

    .navbar {
        padding: 30px 10px;
        img {
            width: 125px;
        }

        .navbar-collapse {
            display: flex;
            justify-content: space-between;

            .navbar-nav {
                padding-left: 60px;

                .nav-link {
                    color: #b6ac9f;
                    font-size: 15px;
                    font-weight: 700;
                    padding-right: 35px;

                    &:hover {
                        color: #000;
                    }
                }
            }

            .buttons {
                button {
                    background-color: transparent;
                    border: none;

                    i {
                        transition: all .3s ease;

                        &:hover {
                            color: #c7844f;
                        }
                    }
                }
            }

            .get-a-quote {
                background-color: #c7844f;
                color: #fff;
                border: none;
                padding: 20px;
                transition: all .3s ease;

                &:hover {
                    background-color: #2B1E16;
                }

                span {
                    font-weight: 500;
                    border-right: 1px solid #fff;
                    padding-right: 10px;
                }

                i {
                    padding-left: 10px;
                }
            }

        }
    }
}

main {
    .hero {
        height: 130vh;
        background-image: linear-gradient(rgba(0, 0, 0, 0.5),
                rgba(0, 0, 0, 0.5)), url('https://bracketweb.com/floens-html/assets/images/backgrounds/slider-2-1.jpg');
        color: #fff;
        position: relative;

        .text {
            width: 43%;
            position: absolute;
            top: 240px;
            left: 100px;

            p {
                background-color: rgba(var(--floens-white-rgb, 255, 255, 255), 0.2);
                font-size: 16px;
                font-weight: 500;
                letter-spacing: 3.2px;
                padding: 8px 30px;
            }

            h2 {
                font-size: 70px;
                font-weight: bold;
                line-height: 1;
                margin-bottom: 32px;
            }

            .discover-more {
                background-color: #c7844f;
                color: #fff;
                border: none;
                padding: 20px;
                transition: all .3s ease;

                &:hover {
                    background-color: #2B1E16;
                }

                span {
                    font-weight: 500;
                    border-right: 1px solid #fff;
                    padding-right: 10px;
                }

                i {
                    padding-left: 10px;
                }
            }
        }
    }

    .logos {
        height: 60vh;
        display: flex;
        align-items: center;

        .row{
            border-bottom: 1px solid rgb(225, 225, 225);
            padding-bottom: 50px;
            img {
                opacity: .1;
                transition: all .3s ease;
                cursor: pointer;
                &:hover{
                    opacity: 1;
                }
            }
        }
    }

    .services {

        .card {
            width: 100%;
            height: 100%;
            padding: 20px;
            border: none;
            background-color: #f2eeea;
            transition: all .3s ease;

            &:hover {
                background-color: #2B1E16;

                h3 {
                    color: #fff;
                }
                .card-bottom{
                    .symbol{
                        background-color: #fff;
                        color: #2B1E16;
                    }
                }
            }

            h3 {
                transition: all .3s ease;
                font-size: 24px;
                font-weight: bold;
                padding: 20px 0;
            }

            .card-bottom {
                display: flex;
                align-items: center;
                justify-content: space-between;
                i {
                    color: #c7844f;
                    font-size: 30px;
                    font-weight: 600;
                    transition: all .3s ease;
                }

                .symbol {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 50%;
                    font-size: 40px;
                    width: 80px;
                    height: 80px;
                    background-color: #2B1E16;
                    transition: all .3s ease;
                }
            }
        }
    }

    .team-members{
        height: 130vh;
        background-image: url('https://bracketweb.com/floens-html/assets/images/backgrounds/team-bg-1-1.png');
        background-size: cover;
        background-color: #F2EEEA;
        display: flex;
        align-items: center;
        margin-top: 100px;
        .box{
            height: 100%;
            background-color: #fff;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            &:hover{
                img{
                    scale: .9;
                    filter: brightness(50%);
                }
                .social-media{
                    opacity: 1;
                }
                .name{
                    opacity: 1;
                }
            }
            img{
                
                width: 100%;
                object-fit: cover;
                transition: all .3s ease;
            }
            .social-media{
                width: 10%;
                display: flex;
                opacity: 0;
                flex-direction: column;
                position: absolute;
                top: 40px;
                left: 40px;
                transition: all .3s ease;
                i{
                    color: #fff;
                    border: 1px solid #fff;
                    padding: 10px;
                    margin-bottom: 10px;
                    &:hover{
                        border-color: #c7844f;
                        background-color: #c7844f;
                    }
                }
            }
            .name{
                position: absolute;
                width: 70%;
                background-color: #c7844f;
                color: #fff;
                padding: 10px;
                bottom: 30px;
                right: 0;
                opacity: 0;
                transition: all .3s ease;
            }

        }
    }

    .news{
        height: 100vh;
        display: flex;
        align-items: center;
        .post{
            background-color: #F2EEEA;
            padding: 20px;
            &:hover{
                .image{
                    img{
                        scale: 1.1;
                        filter: brightness(50%);
                    }
                }
            }
            .box-top{
                display: flex;
                span{
                    color: #b6ac9f;
                    padding-right: 20px;
                    i{
                        color: #c7844f;
                        padding-right: 3px;
                    }
                }
            }
            h3{
                padding-top: 20px;
                font-weight: bold;
                font-size: 23px;
                transition: all .3s ease;
                &:hover{
                    color: #c7844f;
                }
            }
            .image{
                position: relative;
                overflow: hidden;
                img{
                    transition: all .3s ease;
                }
                .number-in-brown{
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    background-color: #c7844f;
                    color: #fff;
                    font-weight: bold;
                    padding: 3px  20px;
                }
            }
            .month{
                background-color: #fff;
                font-weight: bold;
                padding: 3px 10px;
            }
        }
    }
}