body, *{
    box-sizing: border-box;
}
.bird{
    height: 95vh;
}
.leg{
    background-color: blue;
    width: 60px;
    height: 80px;
    clip-path: polygon(70% 100%, 30% 100%, 10% 50%, 40% 0%, 55% 0%, 25% 50%, 40% 90%, 70% 90%);
    translate: 580px 445px;
    animation: leg 2s infinite ease;
}
.body{
    background-color: red;
    width: 250px;
    height: 200px;
    clip-path: circle(50% at 51% 27%);
    transform: rotate(350deg);
    translate: 500px 200px;
}
.beak{
    background-color: orangered;
    width: 100px;
    height: 50px;
    clip-path: polygon(0 35%, 10% 95%, 100% 45%);
    translate: 750px -80px;
    animation: beak 2s infinite ease;
}
.tail{
    background-color: black;
    width: 200px;
    height: 100px;
    clip-path: polygon(0 50%, 100% 70%, 100% 11.2%);
    translate: 350px -50px;
    animation: tail 2s infinite ease;
}
.wing{
    background-color: grey;
    width: 200px;
    height: 100px;
    border-radius: 0 0 10rem 10rem;
    transform: rotate(350deg);
    translate: 519px -150.4px;
    animation: wing 2s infinite ease;
}
.head{
    background-color: black;
    width: 120px;
    height: 120px;
    clip-path: circle(50% at 50% 50%);
    translate: 660px -350px;
    animation: head 2s infinite ease ;
    .eye{
        background-color: white;
        width: 40px;
        height: 40px;
        clip-path: circle(50% at 50% 50%);
        translate: 60px 20px;
        .pupil{
            background-color: black;
            width: 10px;
            height: 10px;
            clip-path: circle(50% at 50% 50%);
            translate: 18px 13px;
        }
    }
}
@keyframes head{
    0%{
        translate: -500px -500px;
    }
}
@keyframes wing{
    0%{
        translate: 520px -500px;
    }
}
@keyframes tail{
    0%{
        translate: 700px;
    }
}
@keyframes beak{
    0%{
        translate: 750px 200px;
    }
}
@keyframes leg{
    0%{
        translate: 580px 90vh;
    }
}